* {
  margin: 0 auto;
  width: 100%;
  max-width: auto;
  height: auto;
  padding: 0;
  overflow-wrap: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: url(../assets/img/Logos/fondobackground.jpg);
  -webkit-it-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  overflow-x: hidden;
}

/* pagina index */
.main-index {
  background-image: url("../assets/img/Logos/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg");
  background-size: cover;
  height: 1020px;
  width: 100%;
}
.main-index nav div a .logo {
  width: 180px;
  height: 60px;
  margin-left: 40px;
}
.main-index nav div div ul li a {
  font-size: 16px;
}
.main-index nav div div ul li a:hover {
  color: #00913C;
  text-decoration: line-through;
}
.main-index .logo-principal {
  margin-top: 40px;
  width: 400px;
  height: 220px;
  text-align: center;
  display: block;
}
@media screen and (min-width: 0px) and (max-width: 576px) {
  .main-index .logo-principal {
    width: 250px;
    height: 180px;
    margin-top: 60px;
    margin-bottom: -60px;
  }
}
.main-index .quienes-somos {
  color: #ced4da;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 1000px;
  display: block;
  margin-top: 60px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

section a {
  text-decoration: none;
  color: #ced4da;
}
section a div .section-carousel {
  border: 1px solid black;
  margin-top: 20px;
  padding-bottom: 30px;
  border-radius: 0.7em;
  background-color: #ced4da;
  box-shadow: 0 0 20px #495057, 2px 2px #3f454b;
  margin-left: 1px;
}
section a div .section-carousel:hover {
  scale: 1.05;
}
section a div div div div .carousel-item {
  border: solid 2px black;
  border-radius: 0.7em;
  margin-top: 40px;
}
section a .carousel-servicios {
  margin: auto;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(112, 112, 112);
  text-decoration: none;
}
section a .carousel-servicios h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
@media screen and (max-width: 576px) {
  section a .carousel-servicios ul {
    font-size: 16px;
  }
}
section a .carousel-servicios ul li {
  list-style-type: none;
}

.texto-central {
  background-color: #ced4da;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 50em;
  display: block;
  padding: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: solid 1px #495057;
  border-radius: 0.7em;
  box-shadow: 0 0 20px #495057, 2px 2px #3f454b;
  list-style-type: none;
}
.texto-central li a {
  color: #000;
}
@media screen and (max-width: 576px) {
  .texto-central li {
    font-size: 16px;
  }
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

/*FOOTER*/
.pie-pagina {
  width: 100%;
  background-color: #ced4da;
  margin-top: 20px;
  display: flex;
  overflow-x: hidden;
  border: solid 1px;
  box-shadow: 0 0 20px #495057;
}
.pie-pagina .grupo1 {
  width: 100%;
  max-width: 1700px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px 0px;
}
@media screen and (max-width: 776px) {
  .pie-pagina .grupo1 {
    display: block;
  }
}
.pie-pagina .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo1 .box figure a img {
  width: 484px;
  height: 189px;
}
@media screen and (max-width: 776px) {
  .pie-pagina .grupo1 .box figure a img {
    width: 0px;
    height: 0px;
  }
}
@media screen and (min-width: 777px) and (max-width: 992px) {
  .pie-pagina .grupo1 .box figure a img {
    width: 200px;
    height: 130px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .pie-pagina .grupo1 .box figure a img {
    width: 300px;
    height: 170px;
    margin-left: 20px;
  }
}
.pie-pagina .grupo1 .box .red-social {
  text-align: center;
  margin-top: 60px;
}
@media screen and (max-width: 776px) {
  .pie-pagina .grupo1 .box .red-social {
    margin-top: -20px;
  }
}
.pie-pagina .grupo1 .box .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #000000;
  margin-right: 10px;
  background-color: #ced4da;
  text-align: center;
}
.pie-pagina .grupo1 .box .red-social a:hover {
  transition: all 1s;
}
.pie-pagina .grupo1 .box .red-social a .logos-rrss {
  transform: scale(1.2);
  transition: all 1s;
}
.pie-pagina .grupo1 .box h3 {
  color: #495057;
  margin-bottom: 25px;
  font-size: 20px;
  text-align: center;
}
.pie-pagina .grupo1 .box p {
  color: #495057;
  margin-bottom: 10px;
  text-align: center;
}

/*Logo FIXED WHATSAPP*/
.rrss-fixed {
  background-color: #25D366;
  color: #495057;
  border: solid;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  margin-top: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.rrss-fixed:hover {
  transform: scale(1.2);
  transition: all 1s;
}

/*SERVICIOS*/
.main-index h1 {
  text-align: center;
  color: #ced4da;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  margin-bottom: 20px;
}
.main-index article {
  width: 100%;
  color: #ced4da;
  display: flex;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.main-index article div div div {
  margin-left: -30px;
}

.servicios {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.servicios .servicios-descripcion {
  color: #495057;
  text-align: center;
  font-weight: bold;
  width: 470px;
  margin: 1.5em 0.2em;
  padding: 0.5em 0em;
}
.servicios .servicios-descripcion:hover {
  scale: 1.05;
  transition: all 1s;
}
.servicios .servicios-descripcion a {
  text-decoration: none;
  color: white;
}
.servicios .servicios-descripcion li {
  list-style-position: inside;
  text-align: justify;
}
.servicios .servicios-descripcion img {
  width: 430px;
  height: 300px;
}

/*FORMULARIOS*/
div .form {
  background: rgba(0, 0, 0, 0.6);
  width: 800px;
  max-width: auto;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-top: 30px;
  border-radius: 3px;
}
div .form .form-header .form-title {
  font-weight: normal;
  font-family: sans-serif;
  color: #fff;
  text-align: center;
  padding: 14px 0;
}
div .form .form-label {
  display: block;
  color: #ced4da;
  font-size: 16px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  padding: 10px;
}
div .form .form-input {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  outline: none;
  border-bottom: 2px solid #ced4da;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
}
div .form .form-texarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  outline: none;
  border-bottom: 2px solid #ced4da;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
}
div .form .botones-form {
  display: inline;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: none;
  background-color: #0a53be;
  font-size: 16px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.5sg ease;
}
div .form .botones-form:hover {
  background: #05357e;
}
@media screen and (max-width: 576px) {
  div .form {
    width: 340px;
    padding: 5px 10px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  div .form {
    width: 500px;
    padding: 5px 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div .form {
    width: 700px;
    padding: 5px 25px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  div .form {
    max-width: 950px;
  }
}
@media screen and (min-width: 1201px) {
  div .form {
    max-width: 1100px;
  }
}

/* TRABAJOS REALIZADOS*/
.youtube iframe {
  width: 1000px;
  height: 500px;
  display: flex;
}
@media screen and (max-width: 576px) {
  .youtube iframe {
    width: 400px;
    height: 400px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .youtube iframe {
    width: 570px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .youtube iframe {
    width: 750px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
.youtube .verde {
  font-size: 20px;
  color: #ced4da;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.tarjetas-trabajos .row .col {
  max-width: 800px;
  padding-top: 30px;
  text-align: center;
}
.tarjetas-trabajos .row .card {
  width: 650px;
  margin-top: 10px;
}
@media screen and (max-width: 576px) {
  .tarjetas-trabajos .row .card {
    width: 380px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .tarjetas-trabajos .row .card {
    max-width: 560px;
  }
}
.tarjetas-trabajos .row .card img {
  height: 500px;
  width: 640px;
}
@media screen and (max-width: 576px) {
  .tarjetas-trabajos .row .card img {
    width: 380px;
    height: 300px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .tarjetas-trabajos .row .card img {
    max-width: 560px;
  }
}

/*PREGUNTAS FRECUENTES*/
.main-index .container {
  margin-top: 6%;
  margin-bottom: 10%;
}
.main-index .container .row .col .card {
  max-width: 18rem;
}
.main-index .titulo-preguntas {
  text-align: center;
  color: #ced4da;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  margin-bottom: 20px;
}

/*CONTACTO*/
.main-index section iframe {
  width: 1000px;
  height: 500px;
  display: flex;
}
@media screen and (max-width: 576px) {
  .main-index section iframe {
    width: 400px;
    height: 400px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .main-index section iframe {
    width: 570px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main-index section iframe {
    width: 750px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
.main-index section div p {
  font-size: 18px;
  color: #ced4da;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  padding: 30px 0;
  font-weight: bold;
  text-align: center;
}

.contacto {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}
.contacto .recuadro-contacto {
  text-align: center;
  width: 300px;
  height: 350px;
  margin: 70px 0 40px 0;
  padding-top: 30px;
  background-color: #ebebeb;
  box-shadow: 0 0 10px #000000, 1px 1px #000000;
}
.contacto .recuadro-contacto:hover {
  scale: 1.04;
  background: rgba(0, 0, 0, 0.2);
}
.contacto .recuadro-contacto a {
  text-decoration: none;
  color: #000000;
  align-content: center;
}
.contacto .recuadro-contacto a img {
  width: 120px;
  height: 120px;
}
.contacto .recuadro-contacto p {
  font-size: 18px;
  text-shadow: 1px 1px 10px #929292;
  padding: 30px 0;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .contacto .recuadro-contacto {
    margin: 10px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .contacto .recuadro-contacto {
    margin: 20px;
  }
}

@media screen and (max-width: 576px) {
  .quienes-somos {
    max-width: 380px;
    margin-top: -60px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .quienes-somos {
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .quienes-somos {
    max-width: 770px;
  }
}

@media screen and (max-width: 576px) {
  .texto-central {
    width: 380px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .texto-central {
    max-width: 550px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .texto-central {
    max-width: 730px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .texto-central {
    max-width: 950px;
  }
}
@media screen and (min-width: 1201px) {
  .texto-central {
    max-width: 1100px;
  }
}

/*# sourceMappingURL=style.css.map */
