@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* MODIFICACIONES GENERALES */

* {
    margin: 0 auto;
    width: 100%;
    max-width: auto;
    height: auto;
    padding: 0;
    overflow-wrap: hidden;
    scroll-behavior:smooth;
    }
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(../assets/img/Logos/fondobackground.jpg);
    -webkit-it-background-size: cover;
    background-size: cover;
    background-attachment: fixed ;
    position: absolute;
    overflow-x: hidden;
}
.logo {
    width: 180px;
    height: 60px;
    margin-left: 40px;
}
.main-index {
    background-image: url("../assets/img/Logos/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg");
    background-size: cover;
    height: 1020px;
    width: 100%;
}
.menu-container {
    top: 5px;
    height: 60px;
    margin-bottom: 20px;
    color: #495057;
    display: flex;
    }
.nav-menu {
    display: flex;
    justify-content: end;
    max-width: max-content;
    margin: 12px;
    font-weight: bold;
    
}
.nav-menu-item a {
    font-size: 16px;
}
.nav-menu-item a:hover {
    color: #00913C;
    text-decoration: line-through;
}
.logo-principal img{
    margin-top: 40px;
    width: 400px;
    height: 220px;
    text-align: center;
    display: block;
}
img {
    width: 600px;
    height: 400px;
}
.pie-pagina{
    width: 100%;
    background-color: #ced4da;
    margin-top: 20px;
    display: flex;
    overflow-x: hidden;
    border: solid 1px;
    box-shadow: 0 0 20px #495057;
}
.pie-pagina .grupo1 {
    width: 100%;
    max-width: 1700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px 0px;
}
.pie-pagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo1 .box figure img{
    width: 484px;
    height: 189px;
}
.pie-pagina .grupo1 .box h3{
    color: #495057;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo1 .box p{
    color: #495057;
    margin-bottom: 10px;
}
.pie-pagina .grupo1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #000000;
    margin-right: 10px;
    background-color: #ced4da;
    text-align: center;
}
.pie-pagina .grupo1 .red-social a :hover {
    transition: all 1s;
}
.pie-pagina .box .red-social {
    text-align: center;
    margin-top: 60px;
}
.pie-pagina .grupo2 {
    background-color: #ced4da;
    padding: 15px 10px;
    text-align: center;
    color: #495057;
}
.rrss-fixed {
    background-color: #25D366;
    color: #495057;
    border: solid;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    margin-top: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.rrss-fixed:hover {
    transform: scale(1.2);
    transition: all 1s;
}
.logos-rrss:hover {
    transform: scale(1.2);
    transition: all 1s;
}
h1 {
    text-align: center;
    color: #ced4da;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin-bottom: 20px;
}
/* INDEX */

a{
    text-decoration: none;
    color: #fff;
}
h2, h3, p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.carousel-servicios {
    margin: auto;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(112, 112, 112);
    text-decoration: none;   
}
.carousel-item img{
    border: solid 2px black;
    border-radius: 0.7em;
    margin-top: 40px;
}
.carousel-servicios li {
    list-style-type: none;
}
.section-carousel {
    border: 1px solid black;
    margin-top: 20px;
    padding-bottom: 30px;
    border-radius: 0.7em;
    background-color: #ced4da;
    box-shadow: 0 0 20px #495057, 2px 2px #3f454b;
}
.section-carousel:hover {
    scale: 1.05;
}
.quienes-somos {
    color: #ced4da;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 1000px;
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
aside ul {
    color: #495057;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 1000px;
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
    list-style-type: none;
}

/* SERVICIOS*/

.solicita-presupuesto {
    background-color: #ced4da;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 50em;
    display: block;
    padding: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: solid 1px #495057;
    border-radius: 0.7em;
    box-shadow: 0 0 20px #495057, 2px 2px #3f454b;
}
.boton-presupuesto {
    background-color:#61CE70;
    color: #ced4da;
    padding: 3px 8px;
    border: solid 1px #495057;
    border-radius: 0.7em;
    max-width: max-content;
}
.servicios {
    display: flex;
    flex-flow: wrap;
    justify-content:space-around;
    align-content: space-around;
}
section .servicios-descripcion a {
    text-decoration: none;
    color: #495057;
}
.servicio {
    width: 100%;
    color: #ced4da;
    display: flex;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.servicios-flex {
    display: flex;
    justify-content:center;
    width: 100%;
    height: 150px;
    font-size: 20px;
    margin-top: 50px;
    padding: 20px;
    line-height: 30px;
    text-align: center;
    text-shadow: 3px 3px 14px #000000;
}
.servicios-flex ul li {
    list-style: none;
}
.servicios-descripcion {
    color: #495057;
    text-align: center;
    font-weight: bold;
    width: 470px;
    margin: 1.5em 0.9em;
    padding: 0.5em 1em;
    
    }
.servicios-descripcion:hover { 
    scale: 1.05;
    transition: all 1s;
    }
.servicios-descripcion li {
    list-style-position:inside ;
    text-align: justify;
}
.servicios-descripcion img {
    width: 430px;
    height: 300px;
}
#containerServicios {
    width: 480px;
    height: 400px;
    box-shadow: 0 0 20px #61CE70, 2px 2px #00913C;    
    border: solid 0.1em #495057;
    border-radius: 0.7em;
}
/*FAQ*/

.preguntas{
    background-color: #61CE70;
    color: #ced4da;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 700px;
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
    border: solid #495057;
    border-radius: 0.7em;
}
.recuadro-informativo {
    background-color: rgba(78, 103, 117, 0.2);
    color: #000;
    text-align: center;
    font-weight: bold;
    width: 500px;
    margin: 1em 0.5em;
    padding: 0.5em 1em;
    border: solid 1px #495057;
    border-radius: 0.7em;
    box-shadow: 0 0 20px #61CE70, 2px 2px #00913C;
}
.recuadro-informativo li {
    list-style-type:none;
}
.flex-container {
    display: flex; /*
    flex-direction: row;
    flex-wrap: wrap;
    width: 80em; */
    flex-flow: row wrap;
    justify-content:space-around;
    align-content: space-around;
    }
.formularios {
    margin: 10px;
}
.botones-form {
    display: inline;
    width: 5em;
}
article {
    margin: 20px 10px;
}
.contenedor .form .form-header .form-title {
    font-weight: normal;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
    padding: 14px 0;
}
.contenedor .form {
    background: rgba(0,0,0,.6);
    width: 800px;
    max-width: auto;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-top: 30px;
    border-radius: 3px;
}
.contenedor .form .form-label {
    display: block;
    color: #ced4da;
    font-size: 16px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    padding: 10px;
}
.contenedor .form .form-input, .form-texarea {
    background: rgba(0,0,0,.7);
    color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid #ced4da;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenedor .form .form-texarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}
.contenedor .form .botones-form {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    background-color: #0a53be;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all .5sg ease;
}
.contenedor .form .botones-form:hover {
    background: #00913C;
}
iframe {
    width: 1000px;
    height: 500px;
    display: flex;
}
.verde {
    font-size: 20px;
    color: #ced4da;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.contacto {display: flex; /*
    flex-direction: row;
    flex-wrap: wrap;
    width: 80em; */
    flex-flow: row wrap;
    justify-content:space-around;
    align-content: space-around;
}
.recuadro-contacto {
    text-align: center;
    width: 300px;
    height: 350px;
    margin: 70px 0;
    padding-top: 30px;
    background-color: #ebebeb;
    box-shadow: 0 0 10px #000000, 1px 1px #000000;
}
.recuadro-contacto:hover {
    scale: 1.04;
    background: rgba(0,0,0,.2);
}
.recuadro-contacto a {
    text-decoration: none;
    color: #000000;
    align-content: center;
}
.iconos {
    width: 120px;
    height: 120px;
}
.recuadro-contacto p {
    font-size: 18px;
    text-shadow: 1px 1px 10px #929292;
    padding: 30px 0;
    font-weight: bold;
    text-align: center;
}
/*TRABAJOS REALIZADOS*/


.trabajos {
    display: flex;
    flex-flow: wrap;
    justify-content:space-around;
    align-content: space-around;
}
.trabajos-descripcion {
    text-align: center;
    width: 580px;
    margin: 16px 8px;
    padding: 0.5em 1em;
}
    
.youtube {
    color: #00913C;
    font-size: 20px;
    text-align: center;
    width: 1000px;
    display: block;
    margin-top: 60px;
    margin-bottom: 100px;
}

    /* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:0px) and (max-width: 576px) {  
    .logo {
        width: 180px;
        height: 60px;
    }
    .logo-principal img{
        width: 250px;
        height: 180px;
        display: block;
    }
    
    .carousel-item img{
        height: 400px;
        border: solid 2px;
        border-radius: 0.7em;
        margin-top: 40px;
    }
    #contenedorCarousel {
        margin-left: 10px;
    }
    .card-trabajos {
        margin-left: 5px;
    }
    img {
        width: 400px;
        height: 300px;
    }
    .quienes-somos {
        font-size: 18px;
        width: 380px;
        display: block;
    }
    aside ul {
        font-size: 20px;
        width: 400px;
    }
    .solicita-presupuesto {
        width: 400px;
        padding: 2px;
    }
    .servicios-descripcion {
        width: 400px;
        }
        
    .servicios-descripcion img {
        width: 360px;
    }
    .servicio {
        margin: auto;
    }
    
    .servicios-flex {
        width: 200px;
        font-size: 16px;
        margin-top: -50px;
        margin-left: -20px;
    }
    .trabajos-descripcion {
        font-size: 18px;
        width: 400px;
        }   
    .pie-pagina .grupo1 {
        display: block;
    }
    
    .pie-pagina .grupo1 .box figure img{
        width: 0px;
        height: 0px;
    }
    .pie-pagina .box {
        width: 400px;
    }
    .pie-pagina .grupo1 .box h3 p{
        font-size: 18px;
    }
    .pie-pagina .box .red-social {
        margin-top: 20px;
    }
    .formularios {
        margin: 10px;
    }
    .botones-form {
        display: inline;
        width: 5em;
    }
    article {
        margin: 20px 10px;
    }
    .contenedor .form {
        width: 300px;
        padding: 5px 10px;
    }
    .youtube {
        width: 400px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    iframe {
        margin: auto;
        padding-top: 40px;
        width: 400px;
        height: 300px;
        margin: -10px;
    }
}
/*  Medium devices (tablets, 768px and up) */
@media screen and (min-width: 577px) and (max-width: 768px) { 
    .quienes-somos {
        font-size: 18px;
        width: 560px;
        display: block;
    }
    aside ul {
        font-size: 20px;
        width: 550px;
        display: block;
    }
    .solicita-presupuesto {
        width: 550px;
        display: block;
        padding: 5px;
    }
    .pie-pagina .grupo1 {
        display: block;
    }
    .pie-pagina .grupo1 .box figure img{
        width: 0px;
        height: 0px;
    }
    .pie-pagina .box {
        width: 480px;
    }
    .pie-pagina .grupo1 .box h3 p{
        font-size: 18px;
    }
    .pie-pagina .box .red-social {
        margin-top: 20px;
    }
    .servicios-descripcion {
        width: 520px;
    }
    .servicios-descripcion img {
        width: 480px;
    }
    .servicio {
        margin-left: -50px;
    }
    
    .servicios-flex {
        width: 200px;
        font-size: 16px;
        margin-top: -50px;
    }
    .formularios {
        margin: 10px;
    }
    .botones-form {
        display: inline;
        width: 5em;
    }
    .contenedor .form {
        width: 500px;
        padding: 5px 25px;
    }
    article {
        margin: 20px 10px;
    }
    .youtube {
        width: 570px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    iframe {
        width: 570px;
        height: 500px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {  
    .quienes-somos {
        font-size: 20px;
        width: 770px;
        display: block;
    }
    aside ul {
        font-size: 20px;
        width: 730px;
        display: block;
    }
    .solicita-presupuesto {
        width: 730px;
        display: block;
        padding: 5px;
    }
    .pie-pagina .grupo1 .box figure img{
        width: 220px;
        height: 170px;
    }
    .servicios {
    margin: 8px 4px;
    }

    .servicios-descripcion {
        width: 360px;
    }
    .servicios-descripcion img {
        width: 330px;
        height: 260px;
    }
    .servicio {
        margin-left: -50px;
    }
    
    .servicios-flex {
        width: 200px;
        font-size: 18px;
        margin-top: -50px;
    }
    .formularios {
        margin: 10px;
    }
    .botones-form {
        display: inline;
        width: 5em;
    }
    .contenedor .form {
        width: 700px;
        padding: 5px 25px;
    }
    .youtube {
        width: 750px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    iframe {
        width: 750px;
        height: 500px;
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {  
    aside ul {
        font-size: 20px;
        width: 730px;
        display: block;
    }
    .solicita-presupuesto {
        width: 950px;
        display: block;
        padding: 5px;
    }
    .pie-pagina .grupo1 .box figure img{
        width: 220px;
        height: 170px;
    }
    .servicios {
    margin: 8px 4px;
    }
    .servicios-descripcion {
        width: 420px;
    }
    .servicios-descripcion img {
        width: 390px;
        height: 340px;
    }
    .recuadro-informativo {
        width: 430px;
    }
    }
    @media screen and (min-width: 1201px) and (max-width: 1440px) {  
        .solicita-presupuesto {
            width: 1100px;
            display: block;
            padding: 5px;
        }
        .servicios {
        margin: 8px 4px;
        }
        .servicios-descripcion {
            width: 420px;
        }
        .servicios-descripcion img {
            width: 390px;
            height: 340px;
        }
        .recuadro-informativo {
            width: 430px;
        }
}