
@import "./components/body";
@import "./components/_tarjetascontacto.scss";
@import "./components/_carousel.scss";
@import "./components/_textocentral.scss";
@import "./components/mediaqueris";
@import "./components/_footer.scss";
@import "./components/_logows.scss";
@import "./components/_tarjetaservicio.scss";
@import "./components/_formulario.scss";
@import "./components/_tarjetatrabajo.scss";
@import "./components/_youtube.scss";

@import "./base/variables";
/*INDEX*/
.main-index {
    background-image: url("../assets/img/Logos/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg");
    background-size: cover;
    height: 1020px;
    width: 100%;

    @import "./components/nav";

    @import "./components/_logoprincipal.scss";
    .quienes-somos {
        color: $c-general;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        width: 1000px;
        display: block;
        margin-top: 60px;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
        }
    }
/*SERVICIOS*/
.main-index {
    h1 {
        text-align: center;
    color: $c-general;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin-bottom: 20px;
    }
    article {
        width: 100%;
        color: $c-general;
        display: flex;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
        div {
            div {
                div {
                    margin-left: -30px
                }
            }
        }
    }
}
/*PREGUNTAS FRECUENTES*/
.main-index {
    .container {
        margin-top: 6%;
        margin-bottom: 10%;
        .row {
            .col {
                .card {
                    max-width: 18rem;
                }
            }
        }
    }
    .titulo-preguntas {
        text-align: center;
        color: $c-general;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
        margin-bottom: 20px;
    }
}
/*CONTACTO*/
.main-index {
    section {
        @import "./components/_youtube.scss";
        div {
            p {
                font-size: 18px;
                color: $c-general;
                text-shadow: 2px 2px 5px rgb(0, 0, 0);
                padding: 30px 0;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}