.logo-principal {
    margin-top: 40px;
    width: 400px;
    height: 220px;
    text-align: center;
    display: block;

    @media screen and (min-width:0px) and (max-width: 576px) {
        width: 250px;
        height: 180px;
        margin-top: 60px;
        margin-bottom: -60px;
    }
    }