@import "../base/variables";

.servicios {
    display: flex;
    flex-flow: wrap;
    justify-content:space-around;
    align-content: space-around;
    .servicios-descripcion {
        color: $c-opcional;
        text-align: center;
        font-weight: bold;
        width: 470px;
        margin: 1.5em 0.2em;
        padding: 0.5em 0em;
        &:hover {
            scale: 1.05;
    transition: all 1s;
        }
        a {
            text-decoration: none;
            color: $gb-general;
            background-color: $button-general;
            &:hover {
                background-color: darken($button-general, 10%);
            }
        }
        li {
            list-style-position:inside ;
            text-align: justify;
        }
        img {
            width: 430px;
            height: 300px;
        }
    }
}