@import "../base/variables";

.texto-central {
    background-color: $gb-general;
    color: $c-opcional;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 50em;
    display: block;
    padding: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: $border-general;
    border-radius: 0.7em;
    box-shadow: 0 0 20px #495057, 2px 2px #3f454b;
    list-style-type: none;
    li {
        a {
        color: $c-opcional;
        }
        @media screen and (max-width:576px) {
            font-size: 16px;
            }
    }
}

