@import "./variables";

%texto-main {
    color: $c-general;
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    width: 900px;
    display: block;
    margin-top: 60px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
%enlaces {
    text-align: center;
    display: block;
    text-decoration: none;
    color: $c-general;
    font-weight: bold;
    font-size: 20px;
}

%servicio-main {
    text-align: center;
    color: $c-general;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin-bottom: 20px;
}

%ubicacion-contacto {
    font-size: 18px;
    color: $c-general;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    padding: 30px 0;
    font-weight: bold;
    text-align: center;
}