/* colores de FONDOS */
$gb-general: #ced4da;


/*colores de letras*/
$c-general: #ced4da;
$c-opcional: #000000;

/*BORDES*/
$border-general: solid 1px #495057;

/*FONT*/
$font-general: 18px;

/*Botones*/
$button-general: #0a53be;